<div class="col-md-4 mt-4 mt-sm-0">
    <h2>Contactanos</h2>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="inputPassword4" placeholder="+54">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputAddress">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputAddress">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="3">

                    </textarea>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
</div>
</div>