<div class="container-fluid p-0">
    <div id="home" class="row align-items-center hero m-0 scroll_section">
        <div class="col-lg-8 offset-lg-1">
            <h1>{{title}}</h1>
            <p>Disfruta de una experiencia gastronómica única donde cada plato cuenta una historia. Desde nuestras
                pastas artesanales hasta nuestras pizzas al horno de barro, te invitamos a saborear la verdadera esencia
                de Italia en un ambiente cálido y acogedor.</p>
        </div>
    </div>
</div>