<div id="staff" class="row-align-items-stretch my-3 staff py-4 scroll_section">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="/images/f4.png" alt="Giovanni Rossi" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Giovanni Rossi</h5>
                    <p class="card-text">"Nieto de los fundadores, Giovanni se form칩 en las mejores escuelas de
                        Italia para
                        proteger el legado familiar. Hoy lidera nuestra cocina como el guardi치n de las recetas
                        que nos definen desde 1923."
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/f5.png" alt="Alessandro Rossi" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Alesandro Rossi</h5>
                    <p class="card-text">"Hijo de Giovanni y tercera generaci칩n de la familia, Alessandro es
                        el rostro amable
                        que te recibe en La Dolce Vita."</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/f6.png" alt="Isabella Rossi" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Isabella Rossi</h5>
                    <p class="card-text">"Como hija mayor y jefa de sala, Isabella coordina cada detalle del
                        servicio con la elegancia y calidez de la hospitalidad italiana. Su misi칩n es que cada
                        comensal se sienta como un invitado de honor en nuestra mesa familiar."</p>
                </div>
            </div>
        </div>
    </div>