<div id="novedades" class="col-md-6 scroll_section">
    <h2 class="mb-4">Novedades</h2>
    <ul class="listanovedades">
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#plato1"><img
                    src="/images/Gemini_Generated_Image_u6bv54u6bv54u6bv.png"
                    alt="Orecchiette con Cime di Rapa">Orecchiette con Cime di Rapa</a></li>
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#plato2"><img
                    src="/images/Gemini_Generated_Image_26uclq26uclq26uc.png" alt="Saltimbocca alla Romana">Saltimbocca
                alla Romana</a></li>
        <li><a href="#" data-bs-toggle="modal" data-bs-target="#plato3"><img
                    src="/images/Gemini_Generated_Image_el2wk9el2wk9el2w.png" alt="Risotto al Nero di Seppia">Risotto al
                Nero di Seppia</a></li>
    </ul>
</div>

<div class="modal fade" id="plato1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Orecchiette con Cime di Rapa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Pasta artesanal de sémola de trigo duro, característica de la región de Puglia, servida con
                grelos
                frescos salteados al dente. Este plato se distingue por su equilibrio de sabores rústicos,
                resaltados por una emulsión de aceite de oliva extra virgen, ajo confitado, peperoncino y un
                toque
                de esencia de anchoas del Adriático.
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="plato2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Saltimbocca alla Romana</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Delicados escalopes de ternera de primera selección, revestidos con una hoja de salvia fresca y
                auténtico prosciutto crudo. Esta especialidad de la gastronomía romana es sellada en manteca
                noisette y desglasada con vino blanco seco, logrando una textura tierna y un perfil de sabor
                complejo y refinado
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="plato3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Risotto al Nero di Seppia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Una pieza magistral de la cocina costera italiana. Arroz variedad Carnaroli de grano corto,
                cocinado lentamente en un caldo de mar profundo y teñido con tinta de calamar natural. Este
                risotto se caracteriza por su textura cremosa, un color negro intenso y sofisticado, y se sirve
                coronado con calamares tiernos al grill y un sutil toque de ralladura de limón siciliano.
            </div>
        </div>
    </div>
</div>