<div id="ubi" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!4v1768529836413!6m8!1m7!1s-WrJ6LnSjZE5Z0hELqtP1g!2m2!1d-32.95511363060361!2d-60.65288124055805!3f102.35!4f0!5f0.7820865974627469"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>